// html {
//   scroll-behavior: smooth;
// }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  @include mq(mobile) {
    justify-content: center;
  }

  .card-set__item {
    flex-basis: calc(
      (100% - var(--indent) * (var(--items) - 1)) / var(--items)
    );
  }
}

.icon {
  fill: currentColor;
  width: 100%;
}

body {
  min-width: 320px;
  font-family: "Krub", sans-serif;
}

.title {
  font-family: "Handlee", cursive;
  color: var(--title-primary);
  position: relative;
  z-index: -1;

  @include fonts(28px, 37px);
  margin-bottom: 24px;

  @include mq(tablet) {
    @include fonts(36px, 44px);
    margin-bottom: 30px;
  }
  @include mq(desktop) {
    @include fonts(46px, 54px);
    margin-bottom: 36px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--title-primary);
  }
}

.subtitle {
  color: var(--title-primary);
  margin-bottom: 24px;
  @include fonts(22px, 28px, 500, 0.02em);
}

.text {
  color: #254e58e5;
  @include fonts(16px, 22px, 400);

  @include mq(tablet) {
    @include fonts(20px, 26px);
  }
  @include mq(desktop) {
    @include fonts(28px, 34px);
  }
}
