:root {
  --title-primary: #254e58;
  --title-secondary: #2c3531;
  --menu-color: #379683;
  --menu-color-accent: #254e58;
  --accent-color: #379683;
  --background: #eae7dc;
  //   anim
  --transition: 250ms cubic-bezier(0.65, 0.08, 0.68, 0.96);
  // card-set
  --indent: 28px;
  --items: 3;

  // button colors
  --ligth-color: #d1e8e2;
  --hov-color: #67d3bd;
  --shad-color: #8fd2c5;
  --border-color: #158772;
  --border-shadow: #b5f0e5;
}
