.contacts {
  @include section(26px, 52px);
}
.contact__list {
  gap: var(--indent);
  display: flex;
  flex-direction: column;
  @include mq(desktop) {
    --items: 3;
    justify-content: center;
    flex-direction: row;
  }
}

.contacts__item {
  @include mq(desktop) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__icon {
  width: 36px;
  height: 36px;
}

.contacts__text {
  color: var(--title-primary);
}

// =====
.contacts__link {
  align-items: center;
  gap: 22px;
  display: inline-flex;
  cursor: pointer;
  outline: none;
  border: 0;

  &--butt {
    color: var(--title-primary);
    padding: 8px;
    background-color: var(--ligth-color);
    border: 2px solid var(--border-color);
    border-radius: 0.75em;
    transition: color var(--transition), transform var(--transition),
      background-color var(--transition);
    @include mq(mobile) {
      width: 210px;
    }
    @include mq(tablet) {
      width: 250px;
      transform-style: preserve-3d;
      position: relative;
      @include mq(desktop) {
        width: 320px;
      }
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--shad-color);
        border-radius: inherit;
        box-shadow: 0 0 0 2px var(--border-color),
          0 0.625em 0 0 var(--border-shadow);
        transform: translate3d(0, 0.75em, -1em);
        transition: transform var(--transition), box-shadow var(--transition);
      }
    }

    &:hover,
    &:focus {
      color: var(--menu-color-accent);
      background-color: var(--hov-color);
      @include mq(tablet) {
        transform: translate(0, 0.25em);
      }
      &::before {
        box-shadow: 0 0 0 2px var(--border-color),
          0 0.5em 0 0 var(--border-shadow);
        @include mq(tablet) {
          transform: translate3d(0, 0.5em, -1em);
        }
      }
    }
    &:active {
      background-color: var(--hov-color);
      @include mq(tablet) {
        transform: translate(0em, 0.75em);
      }
      &::before {
        box-shadow: 0 0 0 2px var(--border-color), 0 0 var(--border-shadow);
        @include mq(tablet) {
          transform: translate3d(0, 0, -1em);
        }
      }
    }
  }
}
