.skills {
  @include section();
}
.skills__list {
  gap: 26px;
  justify-content: start;
  align-items: center;
  --items: 2;
  @include mq(tablet) {
    --items: 3;
  }
  @include mq(desktop) {
    --items: 4;
  }
}
.skills__item {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  padding: 12px;
  border: transparent 1px solid;
  border-radius: 22px;
  transition: border var(--transition), box-shadow var(--transition),
    border-radius var(--transition);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    box-shadow: 3px 3px 3px 0px var(--accent-color),
      inset 3px 3px 3px 0px var(--accent-color);
  }
}
